@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --font: 'Lato', Arial, Helvetica, sans-serif;
    --cor: #ff6b28;
}

html, body {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: var(--font);
    font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--cor);
}

a {
    text-decoration: none;
}

.text-white {
    color: white;
}


#top-bar {
    background-color: var(--cor);
    text-align: center;
    padding: 15px;
}

header {
    height: 400px;
    background-image: url('../images/hero_bolo.jpg');
    background-size: cover;
    background-position: center;
}

main {
    max-width: 990px;
    margin: auto;
    padding: 0 40px;
    text-align: justify;
    line-height: 28px;
}

main h1 {
    font-size: 48px;
}

main h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

ul.lista-ingredientes {
    margin-bottom: 50px;
}

main li {
    margin: 14px;
}

main a.bnt {
    background-color: var(--cor);
    padding: 15px;
    border-radius: 15px;
}

main a.bnt:hover {
    background-color: white;
    color: var(--cor);
    border: 2px solid var(--cor);
    cursor: pointer;
}

section.card {
    padding: 70px 100px;
    border-radius: 20px;
    margin-top: 50px;
}

section.card:hover {
    /* box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.161); */
    box-shadow: 8px 8px 15px 12px rgba(205, 205, 205, 0.25);
}

section.ingredientes {
    cursor: url('../images/cursor_ingredientes.png'), default;
}

section.preparo {
    cursor: url('../images/cursor_preparo.png'), default;
}

section.intrucoes {
    cursor: url('../images/cursor_intrucoes.png'), default;
}

footer {
    color: white;
    background-color: var(--cor);
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}

p.footer-text {
    max-width: 500px;
    margin: auto;
    font-size: 16px;
    line-height: 24px;
}



p.footer-text a:hover {
    text-decoration: underline;
}
