@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root {
    --cor0: #555;
    --cor1: #111;
    --cor2: #fd8a24;
    --cor3: #333;
    --fonte0: 'Open Sans', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    color: var(--cor0);
    font-family: var(--fonte0);
}

h1, h2 {
    color: var(--cor1);
}

a {
    color: var(--cor2);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--cor0);
    text-decoration: underline;
}

a:active {
    color: var(--cor1);
}

div#top-bar {
    background-color: var(--cor3);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: 5px solid var(--cor2);
}

header {
    max-width: 888px;
    margin: auto;
    padding: 0px 30px;
}

header .headline {
    font-size: 56px;
    line-height: 64px;
}

header .subtitle {
    font-weight: normal;
    font-size: 20px;
}

header .author {
    font-weight: bold;
    font-size: 0.8em;
}

header .social-icons {
    margin-top: 10px;
}

header .social-icon {
    width: 20px;
    padding: 10px 10px 10px 0px;
}

main {
    max-width: 648px;
    padding: 30px;
    padding-top: 0px;
    margin: auto;
    box-sizing: content-box;
}

main .cta {
    font-size: 20px;
    margin: 30px 0px;
}

main > p {
    text-align: justify;
    font-size: 20px;
    line-height: 32px;
}

main ol {
    margin: 0;
    padding: 0;
}

main li {
    list-style-type: none;
}

main  figure {
    margin: 40px 0;
    padding: 0;
    font-size: 12px;
}

main  figure > img {
    width: 100%;
}

footer {
    background-color: var(--cor3);
    padding: 3px;
    text-align: center;
}

footer > p {
    color: white;
    margin: 0;
}

